.App{
    border: solid black;
    width: 50%;
    height: 600px;
    padding: 10px;
    top: 50%;
    left:50%;
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
}

.employeelist-div{
    border: solid orange;
    width: 50%;
    height: 600px;
}

.employeedisplay-div{
    border: solid brown;
    width: 50%;
    height: 600px;
}

.heading-main-div{
    border: solid black;
    height: 50px;
    width: 98%;
    margin: 2px;
}

.employeedetails-div{
    border:2px solid red;
    width: 98%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.employeedetails-large-div{
    border: solid black;
    width: 99%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: large;
    font-weight: bold;
}

.employee-div{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

.employeedetails-div img{
    height: 78px;
    width: 78px;
}

.employeedetails-large-div img{
    margin-left: 5px;
    height: 108px;
    width: 108px;
}

.employeedetails-large-div .namedesig-div{
    text-align: center;
}

.namedesig-div{
    text-align: left;
    width: 70%;
}

.empcontact-div{
    border: solid lightgray;
    height: auto;
    text-align: left;
    font-size: small;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.arrowimg{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
